# LaTeX temporary files
*.aux
*.bbl
*.blg
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk
*.synctex.gz
*.nav
*.snm
*.vrb

# Final PDF file (optional, but recommended if using automated builds)
*.pdf